<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <% nav.forEach(navEl => {%>
            <li class="main-header__item"><a class="<%= path === navEl.route ? 'active' : '' %>" href="<%= navEl.route %>"><%= navEl.title %></a></li>
            <% }); %>
        </ul>
    </nav>
</header>